body p {
  text-align: justify;
}

header {
  background-color: lightpink;
  height: 100px;
}

img {
  height: 300px;
}

h2 {
  padding-top: 1em;
  font-weight: bold;
  font-size: 30px;
  color: salmon;

}

h3 {
  padding-top: 1em;
  font-weight: bold;
  font-size: 20px;
  color: darksalmon;
}

footer {
  background-color: lightpink;
  hight: 300px;
}

#hero {
  background-image: url("birthday-break-caramel-461430.jpg");
  background-size: cover;
}

.custom {
  cursor: url(32x32.png), auto;
}